{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5>{{ product.name }}</h5>
                    <p>{{ product.price }}</p>
                    <a class="btn btn-primary" href="{% url 'product_detail' product.id %}">Открыть товар</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}